* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: rgba(6, 6, 6, 0.922);
  position: relative;
}
#main h1 { 
  font-size: 20vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#top {
  position: absolute;
  top: 0;
  /* top: -10%; */
  width: 100%;
  height: 50vh;
  background-color: #fff;
  overflow: hidden; /*this will hidden the overflow text from bottom*/
}
#center {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-color: black; */
  transform-origin: center;
}
#bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  overflow: hidden; /*this will allow to hide the bottom area of gallery text from top*/
}
#top-h1 {
  bottom: 50% !important;
}
#bottom-h1 {
  top: 0 !important;
}
.content {
  /* margin-top: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background:green; */
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  gap: 4vh;
}

.content h4 {
  font-size: 1vw;
}

.content h3 {
  width: 22%;
  font-size: 3vw;
  text-align: center;
  font-weight: 400;
}

.content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin: auto; */
  width: 8vw;
  height: 2vw;
  padding: 1.2vw;
  border-radius: 50px;
  background-color: #fff;
  color: #0d0d0d;
}

.content h2 {
  font-size: 20vw;
}
